<div>Title: <%= movie.title  %> </div>
<div>Date of Release: <%= movie.release_date  %> </div>
<div>Rating: <%= movie.rating %> </div>
<div>Theater Number: <%= movie.room %> </div>
<div>Summary: <%= movie.description %> </div>